*{
  font-family: 'Montserrat', sans-serif;
}

/*Jumbotron*/

.jumbotron h1{
  text-align: center;
}

.jumbotron{
  margin-bottom: 0;
}

/*PRODUCTOS*/

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

/*FOOTER*/

footer {
      text-align: center;
    background-color: #F3F3F3;
    padding: 20px;
}

footer hr{
 width: 10%;
}
